<div class="features">
  <div class="container backbone">
    <div class="row">
      <div class="feature-title text-center">
        <h3>Welcome <%= @user.email %></h3>
          <p>
            <%= render 'dashboard/course_form' %>
          </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
          <tbody>
            <%= render 'dashboard/course_display' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>