<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feature-title text-center">

          <h2 style="margin-bottom:40px;">Edit <%= resource_name.to_s.humanize %></h2>
          <%= render 'devise/shared/edit_form' %>
          <%= render 'devise/shared/delete_user' %>
        </div>
      </div>
    </div>
  </div>
</div>

