<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feature-title text-center">
          <h3>Features</h3>
          <p>
            Getting a job is not only about your education background. Employers are looking at
            more than just your education experience. My vDegree strives acknowledge your
            efforts through online courses and display your tenacity to your future employer.
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="feat">
          <p><i class="fa fa-stack-exchange"></i></p>
          <h4>Continuous Learning</h4>
          <p>Show your desire and ability to learn</p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="feat">
          <p><i class="fa fa-sitemap"></i></p>
          <h4>Key Learning</h4>
          <p>Store key learnings from each courses and organize by class</p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="feat">
          <p><i class="fa fa-thumbs-up"></i></p>
          <h4>Validation</h4>
          <p>Validates class completion to enhance your credibility</p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="feat">
          <p><i class="fa fa-archive"></i></p>
          <h4>Not Forgotten</h4>
          <p>Share good courses with your friends</p>
        </div>
      </div>
    </div>
  </div>
</div>