<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="intro">
          <h2>Display<span class="tblue">.</span> Online<span class="tblue">.</span> Courses<span class="tblue">.</span></h2>
          <p>Track your online courses and share your progress with future employers</p><br />
          <a href="#" class="home-button"><i class="fa fa-user"></i> Sign up</a> <strong>and enjoy</strong>
          <div class="applinks">
            <a href="#"><i class="fa fa-facebook" style="min-width:17px;text-align:center;"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shot">
          <%= image_tag 'home-phone.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
</div>