<div class="top" style="border-bottom:none;">
  <header style="margin-bottom:0px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="logo">
            <h1><a href="/">My vDegree</a></h1>
          </div>
        </div>
        <div class="navigation pull-right">
          <%= link_to 'Home', root_path %>
          <%= link_to 'About' %>
          <%= link_to 'Blog' %>
          <%= link_to 'Contact' %>
        </div>
      </div>
    </div>
  </header>
</div>